<div class="col">
  <div class="content margin8">
    <p>
      <h2><%= @event.description %></h2>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= @event.creator.name %>
    </p>

    <p>
      <strong>Attendees:</strong>
      <% @event.attendees.each do |attendee| %>
        <p><%= attendee.name %></p>
      <% end %>
    </p>

    <p>
      <strong>Invitees:</strong>
      <% @event.invitees.each do |invitee| %>
        <p><%= invitee.name %></p>
      <% end %>
    </p>
  </div>

  <% if user_invited? %>
    <div class="row layout-margin8 attend">
      <%= link_to 'Accept Invitation', :controller => 'attendance', :action => 'create', :event => @event, :invitation => @event.invitation.where(invitee_id: session[:user_id], event_id: @event.id).first %>
      <%= link_to 'Decline Invitation', :controller => 'invitation', :action => 'destroy', :event => @event, :id => @event.invitation.where(invitee_id: session[:user_id], event_id: @event.id).first %>
    </div>
  <% elsif user_not_attending? %>
    <div class="row layout-margin8 attend">
      <%= link_to 'Attend', :controller => 'attendance', :action => 'create', :event => @event %>
    </div>
  <% end %>

  <% if show_more_to_invite? %>
    <div class="col content margin8 ">
      <strong>Invitations</strong>
      <% @users.each do |user| %>
        <%  unless invalid_invitee?(user) %>
          <div class="row margin8 invitation-item">
            <div class="margin8 row cross-center w-25"> <%= user.name %> </div>
            <%= link_to 'Invite', class: "links margin8", :controller => 'invitation', :action => 'create', :event => @event, :user => user %>
          </div>
        <%  end %>
      <% end %>
    </div>
  <%end%>
</div>
