<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator_id %>
</p>

<p>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |attendee| %>
    <p><%= attendee.name %></p>
  <% end %>
</p>

<%= link_to 'Attend', :controller => 'attendance', :action => 'create', :event => @event %>
<%= link_to 'Back', events_path %>
